<!-- layout.hbs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>IroNBA</title>
  <link rel="stylesheet" href="stylesheets/bootst.css">
  <style>
    html, body {
      margin: 0;
      padding: 0;
    }
    footer {
      margin-top: 20px;
      padding: 10px;
      background: black;
      color: white;
    }
  </style>
</head>
<body>
  {{{ body }}}
  <footer>
      copyright 2019 Ironhack
  </footer>
</body>
</html>